apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-jaeger
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    grafana_datasource: "1"
data:
  jaeger-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Jaeger
        type: jaeger
        access: proxy
        url: http://jaeger.{{ k8s_monitoring_namespace }}.svc.cluster.local:16686
        isDefault: false
