apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: {{ cert_manager_namespace | default('cert-manager') }}
type: Opaque
stringData:
  api-token: "{{ cloudflare_api_token }}"
