apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-tempo
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    {{ grafana_sidecar_datasources_label | default('grafana_datasource') }}: "1"
data:
  tempo-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Tempo
        type: tempo
        access: proxy
        url: {{ tempo_url }}
        uid: tempo
        isDefault: false
        jsonData:
          tracesToLogsV2:
            datasourceUid: "P8E80F9AEF21F6940"
            spanStartTimeShift: "1s"
            spanEndTimeShift: "1s"
            filterByTraceId: true
            filterBySpanId: false
            customQuery: true
            query: '{$${__tags}} |= "$${__trace.id}"'
          tracesToProfiles:
            datasourceUid: "P02E4190217B50628"
            profileTypeId: "process_cpu:cpu:nanoseconds"
            customQuery: false
          serviceMap:
            datasourceUid: "prometheus"
          search:
            hide: false
          nodeGraph:
            enabled: true
          lokiexplore:
            datasourceUid: "P8E80F9AEF21F6940"
