apiVersion: v1
kind: Secret
metadata:
  name: loki-config
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    app.kubernetes.io/name: {{ loki_service_name | default('loki') }}
type: Opaque
stringData:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: {{ loki_service_port | default(3100) }}
      grpc_listen_port: 9095

    common:
      path_prefix: /data/loki
      storage:
        filesystem:
          chunks_directory: /data/loki/chunks
          rules_directory: /data/loki/rules
      replication_factor: 1
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: inmemory

    schema_config:
      configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

    ingester:
      lifecycler:
        join_after: 0s
        min_ready_duration: 0s

    compactor:
      working_directory: /data/loki/compactor
      compactor_ring:
        kvstore:
          store: inmemory

    pattern_ingester:
      enabled: true
      lifecycler:
        join_after: 0s
        min_ready_duration: 0s
        ring:
          kvstore:
            store: inmemory

    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      reject_old_samples: true
      reject_old_samples_max_age: "{{ loki_storage.retention | default('168h') }}"
      max_entries_limit_per_query: {{ loki_max_lines | default(5000) }}
