apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-loki
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    {{ grafana_sidecar_datasources_label | default('grafana_datasource') }}: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: "http://{{ loki_service_name | default('loki') }}.{{ k8s_monitoring_namespace }}.svc.{{ k8s_cluster_domain | default('k8scluster') }}:{{ loki_service_port | default(3100) }}"
        isDefault: false
        jsonData:
          maxLines: {{ loki_max_lines | default(1000) }}
