apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-opensearch
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    {{ grafana_sidecar_datasources_label | default('grafana_datasource') }}: "1"
data:
  opensearch-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: OpenSearch
        type: grafana-opensearch-datasource
        access: proxy
        url: {{ opensearch_url }}
        database: "*"
        isDefault: false
        jsonData:
          version: "2.3.0"
          flavor: "opensearch"
          timeField: "@timestamp"
          logMessageField: "log"
          logLevelField: "level"
