apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-loki
  namespace: "{{ k8s_monitoring_namespace }}"
  labels:
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.{{ k8s_monitoring_namespace }}.svc.cluster.local:3100
        isDefault: false
        jsonData:
          maxLines: 1000
