server {
    listen 80;
    listen [::]:80;
    server_name {{ trivy_server_domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ trivy_server_domain }};

    ssl_certificate     /etc/letsencrypt/live/{{ trivy_server_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ trivy_server_domain }}/privkey.pem;
    include             /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam         /etc/letsencrypt/ssl-dhparams.pem;

    access_log /var/log/nginx/trivy_access.log;
    error_log  /var/log/nginx/trivy_error.log;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        proxy_pass http://{{ trivy_server_listen_host }}:{{ trivy_server_port }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 300s;
        proxy_connect_timeout 300s;
        proxy_send_timeout 300s;
        client_max_body_size 100m;
    }
}
